<center>
<h1>Sobre ela</h1>
<br>
Viciada em café
<br>
Louca por filmes
<br>
Em um relacionamento sério com seriados
<br>
<br>
Futura Dev
<br>
<img src="https://octodex.github.com/images/codercat.jpg" height= "200px">
</center>
